<!DOCTYPE html>
{% load jsonify %}

<html>
	<head>
		<title>Heartbeatmatch - Generate playlists from your workout heartbeat</title>
   		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>		
		<script type="text/javascript">
			google.load('jquery',"1.7");
			google.load('visualization', '1.0', {'packages':['corechart','map']});
			google.load('maps', '3.9',{other_params: "sensor=false"});
		</script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-526010-4']);
		_gaq.push(['_setDomainName', 'apps.karltryggvason.com']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>

		<link rel="stylesheet" href="{{ STATIC_URL }}heartbeatmatch/bootstrap/css/bootstrap.css" type="text/css" media="screen" />
      	<link rel="stylesheet" href="{{ STATIC_URL }}heartbeatmatch/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
      	<link rel="stylesheet" href="{{ STATIC_URL }}heartbeatmatch/css/style.css" type="text/css" media="screen" />

      	<script src="{{ STATIC_URL }}heartbeatmatch//bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript">
			{% autoescape off %}
				var track= {{ track|to_json }}
            {% endautoescape %}
		</script>

    <!--<script type="text/javascript" src="{{ STATIC_URL }}heartbeatmatch/js/dummydata.js" ></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}heartbeatmatch/js/visualization.js" ></script>
    <script type="text/javascript" src="http://toma.hk/api.js?v=1"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}heartbeatmatch/js/tomahk.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}heartbeatmatch/js/heartbeatmatch.js" ></script>
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/heartbeatmatch">Heartbeatmatch</a>
        	<ul class="nav pull-right">
        		<li><a href="#">Powered by:</a></li>
				<li><a href="http://connect.garmin.com" target="blank"><img class="img-circle" src="{{ STATIC_URL }}heartbeatmatch/img/garmin.ico" />Garmin Connect</a></li>
      			</li>
      			<li><a href="http://www.toma.hk" target="blank"><img class="img-circle" src="{{ STATIC_URL }}heartbeatmatch/img/tomahk.ico" /> Toma.hk </a></li>
                <li><a href="http://www.echonest.com" target="blank"><img class="img-circle" src="{{ STATIC_URL }}heartbeatmatch/img/echonest.ico" />Echonest</a></li>
    		</ul>
        </div>
      </div>
    </div>
	<div class="container-fluid">
  		<div class="row-fluid">
  		<div class="hero-unit">
  			<p class="span12">
  			This is a Heartbeatmatch playlist based on a <a id="activity" href="{{ url }}" target="blank"> {{ track.activityType|lower }} activity  </a>
  			</p>
  		</div>
  		</div>
        <div class="row-fluid">    
          <div id="loading" class="span12">
            <img width="57" height="93" src="{{ STATIC_URL }}heartbeatmatch/img/heartbeat.gif" />
            <p class="lead">Populating playlist... Please wait!</p>  
          </div>
          <div id="info" class="span12">
            <ul id="timeinfo" class="span4"><i class="icon-time" id></i></ul>
            <ul class="span4">            
              <i class="icon-heart" id></i> 
                <li>Average bpm {{ track.averageHeartrate }}</li>
                <li>Max bpm: {{ track.maxHeartrate }}</li>
                <li>Which makes for about {{track.heartbeats }} heartbeats in total.</li>
            </ul>
            <ul class="span4"><i class="icon-music" id></i> <span id="playlistinfo"></span></ul>
          </div>
  		  <ul class="thumbnails">
            <li class="span6">
                <div class="caption"><h3>Heartbeat</h3></div>
                <div id="chart_div" class="thumbnail" style=""></div> 
            </li>
            <li class="span6">
                <div class="caption"><h3>Player</h3></div>
                <div id="tomahk" class="thumbnail"></div>
            </li>
        </ul>           
        <ul class="thumbnails">        
            <li class="span6">
                <div class="caption"><h3>Map</h3></div>
                <div id="map_div" class="thumbnail"></div>
            </li>
            <li class="span6">
                <div class="caption"><h3>Tracklist</h3></div>
                <div id="playlist" class="thumbnail"></div>
            </li> 
        </ul>    
        </div>    
        <!-- <div class="row-fluid">
			<div id="cont" class="span12" style="">
                <div id="chart_div" class="span6" style=""></div>                        
                <div id="tomahk" class="span6"></div>
                <div id="loading" class="span12">
                    <img width="57" height="93" src="{{ STATIC_URL }}heartbeatmatch/img/heartbeat.gif" />
                    <p class="lead">Populating playlist... Please wait!</p>
                </div>
            </div>
  		</div>
  		<div class="row-fluid">    
            <div id="map_div" class="span6" style=""></div>
            <div id="playlist" class="span6"></div>
		</div> -->
	</div>
    <script type="text/javascript">
        var d = new Date("{{track.starttime}}");
        var month = d.getMonth()+1;
        var datestring = "<li>The activity took place on "+d.getDate()+"."+month+"."+d.getFullYear()+"</li>";
        datestring +="<li>Starting at "+ d.getHours() + ":"+ d.getMinutes()+"</li>"
        $('#timeinfo').append(datestring);
        var end = new Date(track.trackpoints[track.trackpoints.length-1].time);
        var delta = Math.round((end.valueOf() - d.valueOf())/60000);
        $('#timeinfo').append("<li>And lasted about "+delta+" minutes.</li>");
        var idx = 0;
        var elapsed = 0;
        $(window).load(function(){
            findTuneByBPM(track["trackpoints"][0]["heartrate"],0);
        })
    </script>      
		<div id="footer">
		    <div class="container">
		      <p class="muted credit">Made by <a href="http://www.karltryggvason.com" target="blank">Karl Tryggvason</a> at <a href="http://london.musichackday.org/2012" target="blank">Music Hack Day - London 2012</a>
		      </p>
		    </div>
			</div>
		</div>

	</body>
</html>

