#loading{
    text-align: center;
}

#map_div{
    height: 300px;
}

.thumbnails{
    display: none;
}

#controls{
    display: none;
}

#info{
    display: none;
    overflow: hidden;
}

#tomahk{
    height: 300px;
}

#top{
    height: 300px;  
}
#deezer{
    height: 300px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

#id_url{
    width:50%;
}
